*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100%;
    background:#D5E1EF;
}

main{
    width:320px;
    background:#fff;
        border-radius: 20px;
   
}
.image{
    margin-bottom:24px;
}
img{
    width:100%;
}

.container{
    margin:16px;
    width:288px;
}
h3{
    margin-bottom:16px;
        font-size: 22px;

}
h3,p{
    text-align:center;
    font-family: "Outfit", sans-serif;
}

p{
    font-size:15px;
    padding-bottom:40px;
  
}
